/Lean/Egg/Tests/Dataflow\ Rewriter/.lake
/Lean/Egg/Tests/batteries/batteries
/Lean/Egg/Tests/mathlib4/mathlib4
/Lean/Egg/Tests/Math/.lake
/Lean/Egg/Benchmarks/Math/.lake
/Rust/Egg/Cargo.lock
/Rust/Egg/target
/Rust/Slotted/Cargo.lock
/Rust/Slotted/target
/.lake
.DS_Store